<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'core/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
     <link rel="stylesheet" href="{% static 'core/css/core.css' %}">
</head>
<body>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-sm-2">
            <div class="border border-right border-warning  h-100">
                <div class="text-center">
                    <img src="{% static 'core/image/Rohan.jpg'%}" alt="Profile pic" class="img-fluid rounded-circle mt-5" width="100px" height="100px">
                    <h3 class="text-white mt-3"> Rohan Sawant </h3>
                </div>
            <hr class="border-light">
             <nav class="nav flex-column text-center">
            <a href="" class="nav-link">Home</a>
            <a href="" class="nav-link">services</a>
            <a href="" class="nav-link">skill</a>
            <a href="" class="nav-link">contact</a>
            </nav>
            </div>


        </div>
            <div class="col-sm-10 text-white" >
            Main Content
            </div>
    </div>
</div>

<i class="fa-sharp fa-solid fa-house"></i>
<script src="{% static 'core/js/jquery.js' %}"></script>
<script src="{% static 'core/js/popper.js' %}"></script>
<script src="{% static 'core/js/bootstrap.js' %}"></script>
<script src="{% static 'core/js/all.min.js' %}"></script>

</body>
</html>